 /*-------------- reset ------------------ */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
input,textarea,select {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	outline: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
	/*line-height:170%;*/
}
th, td{
 text-align: right;
 vertical-align: top;
}
div{
 position:relative;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
input,textarea,select{
	direction:rtl;
}
body {
	text-align:right;
}
a{
	text-decoration:none;
}
/*
* {
  transform: scale(1);
  transition: all 800ms ease 0s;
}
*/

/*
*{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
	outline-style:none !important;
}
*/
 /*-------------- END reset ------------------ */